﻿@model Recruitment.DAL.tbPenilaianHasilTest

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Penilaian Hasil Test - Hapus</h3>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tanggal Penilaian
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TanggalPenilaian)
        </dd>

        <dt>
            Status Test
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusTest)
        </dd>

        <dt>
            Keterangan
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Keterangan)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Hapus" class="btn btn-default" /> |
            @Html.ActionLink("Kembali", "Index")
        </div>
    }
</div>
