﻿@model Recruitment.DAL.tbPenilaianHasilTest

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Penilaian Hasil Test - Detail</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nama Kandidat
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbProsesRekrutmen.tbKandidat.Nama)
        </dd>

        <dt>
            Tanggal Penilaian
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TanggalPenilaian)
        </dd>

        <dt>
            Status Test
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusTest)
        </dd>

        <dt>
            Keterangan
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Keterangan)
        </dd>

        <dt>
            Tanggal Dibuat
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TanggalDibuat)
        </dd>

        <dt>
            Pengguna
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pengguna)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KodePenilaianHasilTes }) |
    @Html.ActionLink("Kembali", "Index")
</p>
