﻿@model IEnumerable<Recruitment.DAL.tbPenilaianHasilTest>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Penilaian Hasil Test</h3>

<table class="table">
    <tr>
        <th>
            NAMA KANDIDAT
        </th>
        <th>
            TANGGAL PENILAIAN
        </th>
        <th>
            STATUS TEST
        </th>
        <th>
           KETERANGAN
        </th>
        <th>
            AKSI
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tbProsesRekrutmen.tbKandidat.Nama)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TanggalPenilaian)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusTest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Keterangan)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KodePenilaianHasilTes }) |
            @Html.ActionLink("Detail", "Details", new { id=item.KodePenilaianHasilTes }) |
            @Html.ActionLink("Hapus", "Delete", new { id=item.KodePenilaianHasilTes })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Tambah Baru", "Create")
</p>