﻿@model Recruitment.DAL.tbNilaiPsikologi

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Penilaian Psikologi - Tambah</h3>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2" for="NamaKandidat">Nama Kandidat</label>
            <div class="col-md-10">
                @Html.DropDownList("KodeProsesRekrutmen", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.KodeProsesRekrutmen, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" @ViewBag.Display>
            <label class="control-label col-md-2" for="TanggalProsesRekrutmen">Tanggal Proses Rekrutmen</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.tbProsesRekrutmen.TanggalProsesRekrutmen, new { htmlAttributes = new { @Value = Convert.ToDateTime(ViewBag.TanggalProsesRekrutmen).ToString("dd/MM/yyyy") , @class = "form-control", @readonly = "true" } })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="DeksripsiHasilTest">Deksripsi Hasil Test</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.DeksripsiHasilTest, new { @class = "form-control", rows = 10 })
                @Html.ValidationMessageFor(model => model.DeksripsiHasilTest, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="KesimpulanHasilTest">Kesimpulan Hasil Test</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.KesimpulanHasilTest, new { @class = "form-control", rows = 10 })
                @Html.ValidationMessageFor(model => model.KesimpulanHasilTest, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="KodeDokumen">Lampiran</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.KodeDokumen, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KodeDokumen, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Simpan" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Kembali", "Index")
</div>
