﻿@model Recruitment.DAL.tbNilaiPsikologi

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Penilaian Psikologi - Hapus</h3>
<br /><br /><br />
<h5>Apakah Anda Yakin Untuk Menghapus Data Ini??</h5>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nama Kandidat
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tbProsesRekrutmen.tbKandidat.Nama)
        </dd>

        <dt>
            Tanggal Tes
        </dt>
        <dd>
            @(!string.IsNullOrEmpty(Html.DisplayFor(model => model.tbProsesRekrutmen.TanggalProsesRekrutmen).ToString()) ? Convert.ToDateTime(Html.DisplayFor(model => model.tbProsesRekrutmen.TanggalProsesRekrutmen).ToString()).ToString("dd MMMM yyyy") : "")
        </dd>

        <dt>
            Deskripsi Hasil Tes
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeksripsiHasilTest)
        </dd>

        <dt>
            Kesimpulan Hasil Tes
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KesimpulanHasilTest)
        </dd>

        <dt>
            Lampiran
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KodeDokumen)
        </dd>

        <dt>
            Tanggal Dibuat
        </dt>
        <dd>
            @(!string.IsNullOrEmpty(Html.DisplayFor(model => model.TanggalDibuat).ToString()) ? Convert.ToDateTime(Html.DisplayFor(model => model.TanggalDibuat).ToString()).ToString("dd MMMM yyyy") : "")
        </dd>

        <dt>
            Pengguna
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pengguna)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Kembali", "Index")
        </div>
    }
</div>
