﻿@model Recruitment.DAL.tbNilaiPsikologi

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Penilaian Psikologi - Edit</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.KodeNilaiPsikolog)
        @Html.HiddenFor(model => model.tbProsesRekrutmen.KodeProsesRekrutmen)

        <div class="form-group" style="display:none">
            <label class="control-label col-md-2" for="KodeNilaiPsikolog">Kode Nilai Psikolog</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.KodeNilaiPsikolog, new { htmlAttributes = new { @readonly = "true", @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="NamaKandidat">Nama Kandidat</label>
            <div class="col-md-10">
                @Html.DropDownList("KodeProsesRekrutmen", null, htmlAttributes: new { @class = "form-control", @readonly = "true" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="TanggalProsesRekrutmen">Tanggal Proses Rekrutmen</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.tbProsesRekrutmen.TanggalProsesRekrutmen, Model.tbProsesRekrutmen.TanggalProsesRekrutmen.ToString("dd/MM/yyyy"), new { @readonly = "true", @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="DeksripsiHasilTest">Deskripsi Hasil Tes</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.DeksripsiHasilTest, new { @class = "form-control" , rows = 10 })
                @Html.ValidationMessageFor(model => model.DeksripsiHasilTest, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="KesimpulanHasilTest">Kesimpulan Hasil Tes</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.KesimpulanHasilTest, new { @class = "form-control", rows = 10 })
                @Html.ValidationMessageFor(model => model.KesimpulanHasilTest, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="KodeDokumen">Lampiran</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.KodeDokumen, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KodeDokumen, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Simpan" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Kembali", "Index")
</div>
