﻿@model IEnumerable<Recruitment.DAL.tbNilaiPsikologi>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Penilaian Psikologi</h3>

<table class="table">
    <tr>
        <th>
            NAMA KANDIDAT
        </th>
        <th>
            KESIMPULAN HASIL
        </th>
        <th>
            LAMPIRAN
        </th>
        <th>
            AKSI
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tbProsesRekrutmen.tbKandidat.Nama)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KesimpulanHasilTest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KodeDokumen)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KodeNilaiPsikolog }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.KodeNilaiPsikolog }) |
            @Html.ActionLink("Details", "Details", new { id = item.KodeNilaiPsikolog })
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Tambah Data", "Create")
</p>