﻿@model Recruitment.DAL.tbAdmAksesMenu

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Akses Menu - Detail</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Kode Akses
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KodeAkses)
        </dd>

        <dt>
            User Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            Nama Menu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbAdmMenu.NamaMenu)
        </dd>

        <dt>
            Tanggal Dibuat
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TanggalDibuat)
        </dd>

        <dt>
            Pengguna
        </dt>
        <dd>
            @Html.DisplayNameFor(model => model.Pengguna)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KodeAkses }) |
    @Html.ActionLink("Kembali", "Index")
</p>
