﻿@model IEnumerable<Recruitment.DAL.tbAdmAksesMenu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Akses Menu</h3>

<p>
    @Html.ActionLink("Tambah Data", "Create")
</p>
<table class="table">
    <tr>
        <th>
            USER NAME
        </th>
        <th>
            NAMA MENU
        </th>
        <th>
            AKSI
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tbAdmMenu.NamaMenu)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.KodeAkses }) |
                @Html.ActionLink("Detail", "Details", new { id = item.KodeAkses }) |
                @Html.ActionLink("Hapus", "Delete", new { id = item.KodeAkses })
            </td>
        </tr>
    }

</table>
