﻿@model Recruitment.DAL.tbAdmLogin

@{
    ViewBag.Title = "Details";
}

<h3>Pengguna - Detail</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Kode Login
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KodeLogin)
        </dd>

        <dt>
            User Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            Password
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            Nama Peran
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbAdmPeran.NamaPeran)
        </dd>

        <dt>
            Tanggal Dibuat
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TanggalDibuat)
        </dd>

        <dt>
            Pengguna
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pengguna)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserName }) |
    @Html.ActionLink("Kembali", "Index")
</p>
