﻿@model IEnumerable<Recruitment.DAL.tbAdmLogin>

@{
    ViewBag.Title = "Index";
}

<h3>Pengguna</h3>

<p>
    @Html.ActionLink("Tambah Data", "Create")
</p>
<table class="table">
    <tr>
        <th>
            USER NAME
        </th>
        <th>
            NAMA PERAN
        </th>
        <th>
            AKSI
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tbAdmPeran.NamaPeran)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.UserName }) |
                @Html.ActionLink("Detail", "Details", new { id = item.UserName }) |
                @Html.ActionLink("Hapus", "Delete", new { id = item.UserName })
            </td>
        </tr>
    }

</table>
