﻿@model Recruitment.DAL.tbAdmPeran

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Peran - Detail</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Kode Peran
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KodePeran)
        </dd>

        <dt>
            Nama Peran
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NamaPeran)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KodePeran }) |
    @Html.ActionLink("Kembali", "Index")
</p>
