﻿@model IEnumerable<Recruitment.DAL.tbAdmPeran>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Peran</h3>

<p>
    @Html.ActionLink("Tambah Data", "Create")
</p>
<table class="table">
    <tr>
        <th>
            NAMA PERAN
        </th>
        <th>
            AKSI
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NamaPeran)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.KodePeran }) |
                @Html.ActionLink("Details", "Details", new { id = item.KodePeran }) |
                @Html.ActionLink("Hapus", "Delete", new { id = item.KodePeran })
            </td>
        </tr>
    }

</table>

