﻿<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

@model Recruitment.DAL.tbKandidat

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Kandidat - Tambah</h3>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2" for="NamaKandidat">Nama Kandidat</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nama, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nama, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="TempatLahir">Tempat Lahir</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TempatLahir, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TempatLahir, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="TanggalLahir">Tanggal Lahir</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TanggalLahir, new { htmlAttributes = new { @value = "", @class = "form-control date-picker", onkeydown = "return false", onpaste = "return false" } })
                @Html.ValidationMessageFor(model => model.TanggalLahir, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="JenisKelamin">Jenis Kelamin</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.JenisKelamin, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.JenisKelamin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Agama">Agama</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Agama, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Agama, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Kewarganegaraan">Kewarganegaraan</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Kewarganegaraan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Kewarganegaraan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="NoTelpon">No Telepon</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.NoTelpon, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NoTelpon, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="KotaTinggal">Kota Tinggal</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.KotaTinggal, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KotaTinggal, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="JabatanYangDiajukan">Jabatan Yang Diajukan</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.JabatanYangDiajukan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.JabatanYangDiajukan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="PengalamanTeknologi">Pengalaman Teknologi</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.PengalamanTeknologi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PengalamanTeknologi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="PendidikanTerakhir">Pendidikan Terakhir</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.PendidikanTerakhir, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PendidikanTerakhir, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="LamaPengalamanTahunBekerja">Lama Pengalaman Tahun Bekerja</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.LamaPengalamanTahunBekerja, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LamaPengalamanTahunBekerja, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="KodeDokumen">Lampiran</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.KodeDokumen, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KodeDokumen, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Simpan" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Kembali", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var currentDay = new Date();

            $(function () {
                $(".date-picker").datepicker({
                    changeMonth: true,
                    changeYear: true,
                    yearRange: "-100:+0",
                    dateFormat: 'dd-mm-yy'
                });
            });

            jQuery.validator.methods.date = function (value, element) {
                var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
                if (isChrome) {
                    var d = new Date();
                    return this.optional(element) || !/Invalid|NaN/.test(new Date(d.toLocaleDateString(value)));
                } else {
                    return this.optional(element) || !/Invalid|NaN/.test(new Date(value));
                }
            };
        });

    </script>
}


