﻿@model Recruitment.DAL.tbKandidat

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Kandidat - Hapus</h3>
<br />
<h5>Apakah Anda Yakin Untuk Menghapus Data Ini??</h5>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nama
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nama)
        </dd>

        <dt>
            Tempat Lahir
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TempatLahir)
        </dd>

        <dt>
            Tanggal Lahir
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TanggalLahir)
        </dd>

        <dt>
            Jenis Kelamin
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JenisKelamin)
        </dd>

        <dt>
            Agama
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Agama)
        </dd>

        <dt>
            Kewarganegaraan
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kewarganegaraan)
        </dd>

        <dt>
            No Telepon
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoTelpon)
        </dd>

        <dt>
            Kota Tinggal
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KotaTinggal)
        </dd>

        <dt>
            Jabatan Yang Diajukan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JabatanYangDiajukan)
        </dd>

        <dt>
            Pengalaman Teknologi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PengalamanTeknologi)
        </dd>

        <dt>
            Pendidikan Terakhir
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PendidikanTerakhir)
        </dd>

        <dt>
            Lama Pengalaman Tahun Bekerja
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LamaPengalamanTahunBekerja)
        </dd>

        <dt>
            Tanggal Input
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TanggalInput)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Hapus" class="btn btn-default" /> |
            @Html.ActionLink("Kembali", "Index")
        </div>
    }
</div>
