﻿@model Recruitment.DAL.tbKandidat

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Kandidat - Detail</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nama
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nama)
        </dd>

        <dt>
            Tempat Lahir
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TempatLahir)
        </dd>

        <dt>
            Tanggal Lahir
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TanggalLahir)
        </dd>

        <dt>
            Jenis Kelamin
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JenisKelamin)
        </dd>

        <dt>
            Agama
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Agama)
        </dd>

        <dt>
            Kewarganegaraan
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kewarganegaraan)
        </dd>

        <dt>
            No Telepon
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoTelpon)
        </dd>

        <dt>
            Kota Tinggal
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KotaTinggal)
        </dd>

        <dt>
            Jabatan Yang Diajukan
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JabatanYangDiajukan)
        </dd>

        <dt>
            Pengalaman Teknologi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PengalamanTeknologi)
        </dd>

        <dt>
            Pendidikan Terakhir
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PendidikanTerakhir)
        </dd>

        <dt>
            Lama Pengalaman Tahun Bekerja
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LamaPengalamanTahunBekerja)
        </dd>

        <dt>
            Tanggal Input
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TanggalInput)
        </dd>

        <dt>
            Lampiran
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KodeDokumen)
        </dd>

        <dt>
            Tanggal Dibuat
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TanggalDibuat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pengguna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pengguna)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KodeKandidat }) |
    @Html.ActionLink("Kembali", "Index")
</p>
