﻿@model IEnumerable<Recruitment.DAL.tbKandidat>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Kandidat</h3>

<table class="table">
    <tr>
        <th>
            NAMA
        </th>
        <th>
            NO TELEPON
        </th>
        <th>
            KOTA TINGGAL
        </th>
        <th>
            JABATAN YANG DIAJUKAN
        </th>
        <th>
            PENGALAMAN TEKNOLOGI
        </th>
        <th>
            PENDIDIKAN TERAKHIR
        </th>
        <th>
            AKSI
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoTelpon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KotaTinggal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JabatanYangDiajukan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PengalamanTeknologi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PendidikanTerakhir)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.KodeKandidat }) |
                @Html.ActionLink("Detail", "Details", new { id = item.KodeKandidat }) |
                @Html.ActionLink("Hapus", "Delete", new { id = item.KodeKandidat })
            </td>
        </tr>
    }

</table>

<th>
    <p>
        @Html.ActionLink("Tambah Data", "Create")
    </p>
</th>