﻿@using Microsoft.AspNet.Identity
@{
    var MenuMaster = (List<Recruitment.MenuOtorisasi>)Session["MenuOtorisasi"];
}
<ul class="nav navbar-nav">
    
    @foreach (MenuOtorisasi menu in MenuMaster.OrderBy(data => data.UrutanMenu))
    {
        if (menu.JenisMenu == "Menu")
        {
            if (menu.IsPunyaAnak > 0)
            {
                //Menu Dropdownlist
                <li class="dropdown">
                    @Html.ActionLink(menu.NamaMenu, "", "", new { @class = "dropdown-toggle", data_toggle = "dropdown" })
                    <ul class="dropdown-menu">
                        @foreach (MenuOtorisasi menuAnak in MenuMaster)
                        {
                            if (menuAnak.KodeMenuParent == menu.KodeMenu)
                            {
                                <li>@Html.ActionLink(menuAnak.NamaMenu, menuAnak.Action, menuAnak.Controller)</li>
                            }
                        }
                    </ul>
                </li>
            }
            else
            {
                //Menu
                <li>@Html.ActionLink(menu.NamaMenu, menu.Action, menu.Controller)</li>
            }
        }
    }
</ul>