﻿@{
    ViewBag.Title = "Home Page";
    var ListGetJadwalRekrutmenMingguIni = (List<Recruitment.Models.JadwalRekrutmenModels>)Session["GetJadwalRekrutmenMingguIni"];
    var ListGetJadwalRekrutmenBulanIni = (List<Recruitment.Models.JadwalRekrutmenModels>)Session["GetJadwalRekrutmenBulanIni"];
    var ListGetJadwalRekrutmenBulanDepan = (List<Recruitment.Models.JadwalRekrutmenModels>)Session["GetJadwalRekrutmenBulanDepan"];
}

<div class="jumbotron" style="height:95px">
    @*<h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    @*file upload : <input type="file" id="fp" name="fp" /> <input type="submit" value="UploadFile" class="btn btn-default" />*@
    Selamat Datang @ViewBag.GetUserLogon
</div>

<div class="row">
    <div class="col-md-12">
        <h7><b>JADWAL TES MINGGU INI</b></h7>
        <table class="table" style="font-size:10px">
            <tr>
                <th>
                    TANGGAL PEMANGGILAN
                </th>
                <th>
                    JADWAL KEDATANGAN
                </th>
                <th>
                    NAMA
                </th>
                <th>
                    NO TELPON
                </th>
                <th>
                    KOTA TINGGAL
                </th>
                <th>
                    PENDIDIKAN TERAKHIR
                </th>
                <th>
                    TEKNOLOGI YANG DIGUNAKAN
                </th>
                <th>
                    LAMA (TAHUN) PENGALAMAN KERJA
                </th>
                <th>
                    AKSI
                </th>
            </tr>
            @foreach (var item in ListGetJadwalRekrutmenMingguIni)
            {
                <tr>
                    <td>
                        @Convert.ToDateTime(item.TanggalPemanggilan).ToString("dd MMMM yyyy")
                    </td>
                    <td>
                        @Convert.ToDateTime(item.TanggalKedatangan).ToString("dd MMMM yyyy")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nama)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NoTelpon)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KotaTinggal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PendidikanTerakhir)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PengalamanTeknologi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LamaPengalamanTahunBekerja)
                    </td>
                    <td>
                        @Html.ActionLink("Tidak Datang", "", new { id = item.KodeJadwalPemanggilan }) |
                        @Html.ActionLink("Ubah Jadwal", "", new { id = item.KodeJadwalPemanggilan }) |
                        @Html.ActionLink("Hapus", "", new { id = item.KodeJadwalPemanggilan })
                    </td>
                </tr>
            }
        </table>
    </div>
    <br /><br />
    <div class="col-md-12">
        <h7><b>JADWAL TES BULAN INI</b></h7>
        <table class="table" style="font-size:10px">
            <tr>
                <th>
                    TANGGAL PEMANGGILAN
                </th>
                <th>
                    JADWAL KEDATANGAN
                </th>
                <th>
                    NAMA
                </th>
                <th>
                    NO TELPON
                </th>
                <th>
                    KOTA TINGGAL
                </th>
                <th>
                    PENDIDIKAN TERAKHIR
                </th>
                <th>
                    TEKNOLOGI YANG DIGUNAKAN
                </th>
                <th>
                    LAMA (TAHUN) PENGALAMAN KERJA
                </th>
                <th>
                        AKSI
                    </th>
            </tr>
            @foreach (var item in ListGetJadwalRekrutmenBulanIni)
            {
                <tr>
                    <td>
                        @Convert.ToDateTime(item.TanggalPemanggilan).ToString("dd MMMM yyyy")
                    </td>
                    <td>
                        @Convert.ToDateTime(item.TanggalKedatangan).ToString("dd MMMM yyyy")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nama)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NoTelpon)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KotaTinggal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PendidikanTerakhir)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PengalamanTeknologi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LamaPengalamanTahunBekerja)
                    </td>
                    <td>
                        @Html.ActionLink("Tidak Datang", "", new { id = item.KodeJadwalPemanggilan }) |
                        @Html.ActionLink("Ubah Jadwal", "", new { id = item.KodeJadwalPemanggilan }) |
                        @Html.ActionLink("Hapus", "", new { id = item.KodeJadwalPemanggilan })
                    </td>
                </tr>
            }
        </table>
    </div>
    <br /><br />
    <div class="col-md-12">
        <h7><b>JADWAL TES BULAN SELANJUTNYA</b></h7>
        <table class="table" style="font-size:10px">
            <tr>
                <th>
                    TANGGAL PEMANGGILAN
                </th>
                <th>
                    JADWAL KEDATANGAN
                </th>
                <th>
                    NAMA
                </th>
                <th>
                    NO TELPON
                </th>
                <th>
                    KOTA TINGGAL
                </th>
                <th>
                    PENDIDIKAN TERAKHIR
                </th>
                <th>
                    TEKNOLOGI YANG DIGUNAKAN
                </th>
                <th>
                    LAMA (TAHUN) PENGALAMAN KERJA
                </th>
                <th>
                        AKSI
                    </th>
            </tr>
            @foreach (var item in ListGetJadwalRekrutmenBulanDepan)
            {
                <tr>
                    <td>
                        @Convert.ToDateTime(item.TanggalPemanggilan).ToString("dd MMMM yyyy")
                    </td>
                    <td>
                        @Convert.ToDateTime(item.TanggalKedatangan).ToString("dd MMMM yyyy")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nama)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NoTelpon)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KotaTinggal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PendidikanTerakhir)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PengalamanTeknologi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LamaPengalamanTahunBekerja)
                    </td>
                    <td>
                        @Html.ActionLink("Tidak Datang", "", new { id = item.KodeJadwalPemanggilan }) |
                        @Html.ActionLink("Ubah Jadwal", "", new { id = item.KodeJadwalPemanggilan }) |
                        @Html.ActionLink("Hapus", "", new { id = item.KodeJadwalPemanggilan })
                    </td>
                </tr>
            }
        </table>
    </div>
    @*<div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>*@
</div>