﻿@model Recruitment.DAL.tbNilaiPseudocode

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Nilai Pseudocode - Hapus</h3>
<br />
<h5>Apakah Anda Yakin Untuk Menghapus Data Ini??</h5>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nama Kandidat
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tbProsesRekrutmen.tbKandidat.Nama)
        </dd>
        <dt>
            No Soal
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoSoal)
        </dd>

        <dt>
            Deskripsi Hasil Test
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeskripsiHasilTest)
        </dd>

        <dt>
            Kesimpulan
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kesimpulan)
        </dd>

        <dt>
            Grade Nilai
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GradeNilai)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Hapus" class="btn btn-default" /> |
            @Html.ActionLink("Kembali", "Index")
        </div>
    }
</div>
