﻿@model Recruitment.DAL.tbNilaiPseudocode

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Nilai Pseudocode - Detail</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nama Kandidat
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tbProsesRekrutmen.tbKandidat.Nama)
        </dd>
        <dt>
            Kode Proses Rekrutmen
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KodeProsesRekrutmen)
        </dd>

        <dt>
            Deskripsi Hasil Test
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeskripsiHasilTest)
        </dd>

        <dt>
            Kesimpulan
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kesimpulan)
        </dd>

        <dt>
            Grade Nilai
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GradeNilai)
        </dd>

        <dt>
            Tanggal Dibuat
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TanggalDibuat)
        </dd>

        <dt>
            Pengguna
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pengguna)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KodeNilaiPsudecode }) |
    @Html.ActionLink("Kembali", "Index")
</p>
