﻿@model IEnumerable<Recruitment.DAL.tbNilaiPseudocode>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Nilai Pseudocode</h3>

<table class="table">
    <tr>
        <th>
            NAMA KANDIDAT
        </th>
        <th>
            NO SOAL
        </th>
        <th>
            DESKRIPSI HASIL TEST
        </th>
        <th>
            KESIMPULAN
        </th>
        <th>
            GRADE NILAI
        </th>
        <th>
            AKSI
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tbProsesRekrutmen.tbKandidat.Nama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoSoal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeskripsiHasilTest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kesimpulan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GradeNilai)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.KodeNilaiPsudecode }) |
                @Html.ActionLink("Detail", "Details", new { id = item.KodeNilaiPsudecode }) |
                @Html.ActionLink("Hapus", "Delete", new { id = item.KodeNilaiPsudecode })
            </td>
        </tr>
    }

</table>

<th>
    <p>
        @Html.ActionLink("Tambah Data", "Create")
    </p>
</th>
