﻿<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

@model Recruitment.DAL.tbNilaiAptitude

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Nilai Aptitude - Tambah</h3>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
   
        <div class="form-group">
            <label class="control-label col-md-2" for="NamaKandidat">Nama Kandidat</label>
            <div class="col-md-10">
                @Html.DropDownList("KodeProsesRekrutmen", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.KodeProsesRekrutmen, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" @ViewBag.Display>
            <label class="control-label col-md-2" for="TanggalProsesRekrutmen">Tanggal Proses Rekrutmen</label>
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.tbProsesRekrutmen.TanggalProsesRekrutmen, new { htmlAttributes = new { @Value = Convert.ToDateTime(ViewBag.TanggalProsesRekrutmen).ToString("dd/MM/yyyy"), @class = "form-control", @readonly = "true" } })*@
                @Html.EditorFor(model => model.tbProsesRekrutmen.TanggalProsesRekrutmen, new { htmlAttributes = new { @value = "", @class = "form-control date-picker", onkeydown = "return false", onpaste = "return false" } })
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-2" for="NilaiAll">Nilai All</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.NilaiAll, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NilaiAll, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="NilaiKompleks">Nilai Kompleks</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.NilaiKompleks, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NilaiKompleks, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="NilaiLogika">Nilai Logika</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.NilaiLogika, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NilaiLogika, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Nilai Pola">Nilai Pola</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.NilaiPola, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NilaiPola, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Grade">Grade</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Grade, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Grade, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Simpan" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Kembali", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var currentDay = new Date();

            $(function () {
                $(".date-picker").datepicker({
                    changeMonth: true,
                    changeYear: true,
                    yearRange: "-100:+0",
                    dateFormat: 'dd-mm-yy'
                });
            });

            jQuery.validator.methods.date = function (value, element) {
                var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
                if (isChrome) {
                    var d = new Date();
                    return this.optional(element) || !/Invalid|NaN/.test(new Date(d.toLocaleDateString(value)));
                } else {
                    return this.optional(element) || !/Invalid|NaN/.test(new Date(value));
                }
            };
        });

    </script>
}


