﻿@model Recruitment.DAL.tbNilaiAptitude

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Nilai Aptitude - Hapus</h3>
<br />
<h5>Apakah Anda Yakin Untuk Menghapus Data Ini??</h5>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nama Kandidat
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tbProsesRekrutmen.tbKandidat.Nama)
        </dd>
        <dt>
            Kode Proses Rekrutmen
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KodeProsesRekrutmen)
        </dd>

        <dt>
            Nilai All
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NilaiAll)
        </dd>

        <dt>
            Nilai Kompleks
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NilaiKompleks)
        </dd>

        <dt>
            Nilai Logika
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NilaiLogika)
        </dd>

        <dt>
            Nilai Pola
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NilaiPola)
        </dd>

        <dt>
            Grade
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grade)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Hapus" class="btn btn-default" /> |
            @Html.ActionLink("Kembali", "Index")
        </div>
    }
</div>
