﻿@model Recruitment.DAL.tbNilaiAptitude

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Nilai Aptitude - Detail</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nama Kandidat
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tbProsesRekrutmen.tbKandidat.Nama)
        </dd>

        <dt>
            Nilai All
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NilaiAll)
        </dd>

        <dt>
            Nilai Kompleks
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NilaiKompleks)
        </dd>

        <dt>
            Nilai Logika
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NilaiLogika)
        </dd>

        <dt>
            Nilai Pola
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NilaiPola)
        </dd>

        <dt>
            Grade
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grade)
        </dd>

        <dt>
            Tanggal Dibuat
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TanggalDibuat)
        </dd>

        <dt>
            Pengguna
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pengguna)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KodeNilaiAptitude }) |
    @Html.ActionLink("Kembali", "Index")
</p>
