﻿@model IEnumerable<Recruitment.DAL.tbNilaiAptitude>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Nilai Aptitude</h3>

<table class="table">
    <tr>
        <th>
            NAMA KANDIDAT
        </th>
        <th>
            NILAI ALL
        </th>
        <th>
            NILAI KOMPLEKS
        </th>
        <th>
            NILAI LOGIKA
        </th>
        <th>
            NILAI POLA
        </th>
        <th>
            GRADE
        </th>
        <th>
            AKSI
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tbProsesRekrutmen.tbKandidat.Nama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NilaiAll)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NilaiKompleks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NilaiLogika)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NilaiPola)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.KodeNilaiAptitude }) |
                @Html.ActionLink("Detail", "Details", new { id = item.KodeNilaiAptitude }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.KodeNilaiAptitude })
            </td>
        </tr>
    }

</table>

<th>
    <p>
        @Html.ActionLink("Tambah Data", "Create")
    </p>
</th>