﻿@model Recruitment.DAL.tbWawancara

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Wawancara - Tambah </h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="control-label col-md-2" for="KodeProsesRekrutmen">Nama Kandidat</label>
            <div class="col-md-10">
                @Html.DropDownList("KodeProsesRekrutmen", null, htmlAttributes: new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.KodeProsesRekrutmen, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TanggalWawancara, "Tanggal Wawancara", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TanggalWawancara, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TanggalWawancara, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="DeksripsiHasilWawancara">Deksripsi Hasil Wawancara</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.DeskripsiHasilWawancara, new { @class = "form-control", rows = 10 })
                @Html.ValidationMessageFor(model => model.DeskripsiHasilWawancara, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="KesimpulanWawancara">Kesimpulan Wawancara</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.KesimpulanWawancara, new { @class = "form-control", rows = 10 })
                @Html.ValidationMessageFor(model => model.KesimpulanWawancara, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Simpan" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Kembali", "Index")
</div>
