﻿@model Recruitment.DAL.tbWawancara

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Wawancara - Hapus</h3>
<br /><br /><br />
<h5>Apakah Anda Yakin Untuk Menghapus Data Ini??</h5>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tanggal Wawancara
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TanggalWawancara)
        </dd>

        <dt>
            Deskripsi Hasil Wawancara
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeskripsiHasilWawancara)
        </dd>

        <dt>
            Kesimpulan Wawancara
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KesimpulanWawancara)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Hapus" class="btn btn-default" /> |
            @Html.ActionLink("Kembali", "Index")
        </div>
    }
</div>
