﻿@model Recruitment.DAL.tbWawancara

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Wawancara - Detail</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Kode Wawancara
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KodeWawancara)
        </dd>

        <dt>
            Tanggal Wawancara
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TanggalWawancara)
        </dd>

        <dt>
            Deskripsi Hasil Wawancara
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeskripsiHasilWawancara)
        </dd>

        <dt>
            Kesimpulan Wawancara
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KesimpulanWawancara)
        </dd>

        <dt>
            Tanggal Dibuat
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TanggalDibuat)
        </dd>

        <dt>
            Pengguna
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pengguna)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KodeWawancara }) |
    @Html.ActionLink("Kembali", "Index")
</p>
