﻿@model IEnumerable<Recruitment.DAL.tbWawancara>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Wawancara</h3>

<p>
    @Html.ActionLink("Tambah Data", "Create")
</p>
<table class="table">
    <tr>
        <th>
            TANGGAL WAWANCARA
        </th>
        <th>
            DESKRIPSI HASIL WAWANCARA
        </th>
        <th>
            KESIMPULAN WAWANCARA
        </th>
        <th>
            AKSI
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TanggalWawancara)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeskripsiHasilWawancara)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KesimpulanWawancara)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KodeWawancara }) |
            @Html.ActionLink("Detail", "Details", new { id=item.KodeWawancara }) |
            @Html.ActionLink("Hapus", "Delete", new { id=item.KodeWawancara })
        </td>
    </tr>
}

</table>
