﻿@model Recruitment.DAL.tbJadwal

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Kandidat - Hapus</h3>
<br />
<h5>Apakah Anda Yakin Untuk Menghapus Data Ini??</h5>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nama Kandidat
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbKandidat.Nama)
        </dd>

        <dt>
           Jenis Pemanggilan
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JenisPemanggilan)
        </dd>

        <dt>
            Tanggal Pemanggilan
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TanggalPemanggilan)
        </dd>

        <dt>
           Tanggal Kedatangan
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TanggalKedatangan)
        </dd>

        <dt>
            Konfirmasi Kedatangan
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KonfirmasiKedatangan)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Pengguna)
        </dd>*@

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Hapus" class="btn btn-default" /> |
            @Html.ActionLink("Kembali", "Index")
        </div>
    }
</div>