﻿@model Recruitment.DAL.tbJadwal

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Jadwal - Detail</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nama Kandidat
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbKandidat.Nama)
        </dd>

        <dt>
            Jenis Pemanggilan
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JenisPemanggilan)
        </dd>

        <dt>
            Tanggal Pemanggilan
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TanggalPemanggilan)
        </dd>

        <dt>
            Tanggal Kedatangan
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TanggalKedatangan)
        </dd>

        <dt>
            Konfirmasi Kedatangan
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KonfirmasiKedatangan)
        </dd>

        <dt>
            Tanggal Dibuat
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TanggalDibuat)
        </dd>

        <dt>
            Pengguna
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pengguna)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KodeJadwalPemanggilan }) |
    @Html.ActionLink("Kembali", "Index")
</p>
