﻿@model IEnumerable<Recruitment.DAL.tbJadwal>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Jadwal</h3>

<table class="table">
    <tr>
        <th>
           NAMA KANDIDAT
        </th>
        <th>
           JENIS PEMANGGILAN
        </th>
        <th>
           TANGGAL PEMANGGILAN
        </th>
        <th>
            TANGGAL KEDATANGAN
        </th>
        <th>
            KONFIRMASI KEDATANGAN
        </th>
        <th>
            AKSI
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.tbKandidat.Nama)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JenisPemanggilan)
        </td>
        <td>
            @Convert.ToDateTime(item.TanggalPemanggilan).ToString("dd MMMM yyyy")
        </td>
        <td>
            @Convert.ToDateTime(item.TanggalKedatangan).ToString("dd MMMM yyyy")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KonfirmasiKedatangan)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KodeJadwalPemanggilan }) |
            @Html.ActionLink("Detail", "Details", new { id=item.KodeJadwalPemanggilan }) |
            @Html.ActionLink("Hapus", "Delete", new { id=item.KodeJadwalPemanggilan })
        </td>
    </tr>
}

</table>

<th>
    <p>
        @Html.ActionLink("Tambah Data", "Create")
    </p>
</th>
