﻿<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

@model Recruitment.DAL.tbProsesRekrutmen

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Proses Rekrutmen - Tambah</h3>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @*<div class="form-group">
            <label class="control-label col-md-2" for="TanggalProsesRekrutmen">Tanggal Proses Rekrutmen</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TanggalProsesRekrutmen, new { htmlAttributes = new { @Value = DateTime.Now.Date.ToShortDateString(), @class = "form-control" }, })
                @Html.ValidationMessageFor(model => model.TanggalProsesRekrutmen, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <label class="control-label col-md-2" for="TanggalLahir">Tanggal Proses Rekrutmen</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TanggalProsesRekrutmen, new { htmlAttributes = new { @value = DateTime.Now.ToString("dd-MM-yyyy"), @class = "form-control date-picker", onkeydown = "return false", onpaste = "return false", @autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.TanggalProsesRekrutmen, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="KodeKandidat">Nama Kandidat</label>
            <div class="col-md-10">
                @Html.DropDownList("KodeKandidat", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.KodeKandidat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Simpan" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Kembali", "Index")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var currentDay = new Date();

            $(function () {
                $(".date-picker").datepicker({
                    changeMonth: true,
                    changeYear: true,
                    yearRange: "-100:+0",
                    dateFormat: 'dd-mm-yy'
                });
            });

            jQuery.validator.methods.date = function (value, element) {
                var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
                if (isChrome) {
                    var d = new Date();
                    return this.optional(element) || !/Invalid|NaN/.test(new Date(d.toLocaleDateString(value)));
                } else {
                    return this.optional(element) || !/Invalid|NaN/.test(new Date(value));
                }
            };
        });

    </script>
    <script src="jquery.disable-autofill.js"></script>
    <script>
        $('input[autofill="off"]').disableAutofill();
    </script>
}