﻿@model Recruitment.DAL.tbProsesRekrutmen

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Proses Rekrutmen - Hapus</h3>
<br /><br /><br />
<h5>Apakah Anda Yakin Untuk Menghapus Data Ini??</h5>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tanggal Proses Rekrutmen
        </dt>
        <dd>
            @Convert.ToDateTime(Html.DisplayFor(model => model.TanggalProsesRekrutmen).ToString()).ToString("dd MMMM yyyy")
        </dd>

        <dt>
            Nama Kandidat
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tbKandidat.Nama)
        </dd>

        <dt>
            Status Rekrutmen
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProsesStep)
        </dd>

        <dt>
            Tanggal Dibuat
        </dt>
        <dd>
            @(!string.IsNullOrEmpty(Html.DisplayFor(model => model.TanggalDibuat).ToString()) ? Convert.ToDateTime(Html.DisplayFor(model => model.TanggalDibuat).ToString()).ToString("dd MMMM yyyy HH:mm") : "")
        </dd>

        <dt>
            Pembuat
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pengguna)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Kembali", "Index")
        </div>
    }
</div>
