﻿@model Recruitment.DAL.tbProsesRekrutmen

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Proses Rekrutmen - Detail</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tanggal Proses Rekrutmen
        </dt>
        <dd>
            @(!string.IsNullOrEmpty(Html.DisplayFor(model => model.TanggalProsesRekrutmen).ToString()) ? Convert.ToDateTime(Html.DisplayFor(model => model.TanggalProsesRekrutmen).ToString()).ToString("dd MMMM yyyy HH:mm") : "")
        </dd>

        <dt>
            Nama Kandidat
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tbKandidat.Nama)
        </dd>

        <dt>
            Status Rekrutmen
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProsesStep)
        </dd>

        <dt>
            Tanggal Dibuat
        </dt>
        <dd>
            @(!string.IsNullOrEmpty(Html.DisplayFor(model => model.TanggalDibuat).ToString()) ? Convert.ToDateTime(Html.DisplayFor(model => model.TanggalDibuat).ToString()).ToString("dd MMMM yyyy HH:mm") : "")
        </dd>

        <dt>
            Pembuat
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pengguna)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KodeProsesRekrutmen }) |
    @Html.ActionLink("Kembali", "Index")
</p>
