﻿@model IEnumerable<Recruitment.DAL.tbProsesRekrutmen>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Proses Rekrutmen</h3>

<table class="table">
    <tr>
        <th>
            TANGGAL PROSES REKRUTMEN
        </th>
        <th>
            NAMA KANDIDAT
        </th>
        <th>
            STATUS REKRUTMEN
        </th>
        <th>
            AKSI
        </th>
        <th>
            PENILAIAN
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @*@Html.DisplayFor(modelItem => item.TanggalProsesRekrutmen)*@
            @Convert.ToDateTime(item.TanggalProsesRekrutmen).ToString("dd MMMM yyyy")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbKandidat.Nama)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProsesStep)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KodeProsesRekrutmen }) |
            @Html.ActionLink("Detail", "Details", new { id=item.KodeProsesRekrutmen }) |
            @Html.ActionLink("Hapus", "Delete", new { id=item.KodeProsesRekrutmen })
        </td>
        <td>
            <a href="@Url.Action("Create", "NilaiAptitude", new { id = item.KodeProsesRekrutmen })">Aptitude</a> |
            <a href="@Url.Action("Create", "NilaiPseudocode", new { id = item.KodeProsesRekrutmen })">Pseudocode</a> |
            <a href="@Url.Action("Create", "NilaiPsikologi", new { id = item.KodeProsesRekrutmen })">Psikologi</a> |
            <a href="@Url.Action("Create", "Wawancara", new { id = item.KodeProsesRekrutmen })">Wawancara</a>
        </td>
    </tr>
}

</table>

<th>
    <p>@Html.ActionLink("Tambah Data", "Create")</p>
</th>
