﻿@model Recruitment.DAL.tbAdmMenu

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Menu - Hapus</h3>
<br /><br /><br />
<h5>Apakah Anda Yakin Untuk Menghapus Data Ini??</h5>
<div>
    <h4>tbAdmMenu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nama Menu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NamaMenu)
        </dd>

        <dt>
            Jenis Menu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JenisMenu)
        </dd>

        <dt>
            Kode Menu Parent
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KodeMenuParent)
        </dd>

        <dt>
            Controller
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Controller)
        </dd>

        <dt>
            Action
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Action)
        </dd>

        <dt>
            Link
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Link)
        </dd>

        <dt>
            Urutan Menu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrutanMenu)
        </dd>

        <dt>
            Is Aktif
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAktif)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Hapus" class="btn btn-default" /> |
            @Html.ActionLink("Kembali", "Index")
        </div>
    }
</div>
