﻿@model Recruitment.DAL.tbAdmMenu

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Menu - Detail</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Kode Menu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KodeMenu)
        </dd>

        <dt>
            Nama Menu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NamaMenu)
        </dd>

        <dt>
            Jenis Menu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JenisMenu)
        </dd>

        <dt>
            Kode Menu Parent
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KodeMenuParent)
        </dd>

        <dt>
            Controller
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Controller)
        </dd>

        <dt>
            Action
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Action)
        </dd>

        <dt>
            Link
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Link)
        </dd>

        <dt>
            Urutan Menu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrutanMenu)
        </dd>

        <dt>
            Is Aktif
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAktif)
        </dd>

        <dt>
            Tanggal Dibuat
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TanggalDibuat)
        </dd>

        <dt>
            Pengguna
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pengguna)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KodeMenu }) |
    @Html.ActionLink("Kembali", "Index")
</p>
