﻿@model IEnumerable<Recruitment.DAL.tbAdmMenu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Menu</h3>

<p>
    @Html.ActionLink("Tambah Data", "Create")
</p>
<table class="table">
    <tr>
        <th>
            NAMA MENU
        </th>
        <th>
            JENIS MENU
        </th>
        <th>
            KODE MENU PARENT
        </th>
        <th>
            CONTROLLER
        </th>
        <th>
            ACTION
        </th>
        <th>
            LINK
        </th>
        <th>
            URUTAN MENU
        </th>
        <th>
            IS AKTIF
        </th>
        <th>
            AKSI
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NamaMenu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JenisMenu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KodeMenuParent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Controller)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Action)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrutanMenu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAktif)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.KodeMenu }) |
                @Html.ActionLink("Detail", "Details", new { id = item.KodeMenu }) |
                @Html.ActionLink("Hapus", "Delete", new { id = item.KodeMenu })
            </td>
        </tr>
    }

</table>
